/* Home Page */
body{
    background-image: url(../img/background.jpg); 
    background-repeat: no-repeat; 
    background-position: right;
}
.header-wrapper{
    display: flex;
    justify-content: center;
}
.nav-ul{
    display: flex;
}
a{
    color: white;
}
.nav-li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-right: 60px;
    margin-top: 20px;
}
.nav-li:nth-child(1){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
/* Biograhy Page */
.first-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.div-box{
    margin-top: 30px;
}
.biography-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}
.biography-p{
    width: 450px;
    color: white;
    font-size: 22px;
    margin-top: 20px;
}
/* X Factor */
.nav-li-x{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.nav-li-x:nth-child(1){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.x-a{
    color: black;
}
.first-x{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.x-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
.x-p{
    font-size: 20px;
    width: 500px;
}
.second-x{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}